.footer {
  display: block;
  color: var(--base-text-color-alpha-7);
  border-top: 1px solid var(--footer-border-color);
  padding-top: 12px;
  padding-bottom: 14px;
  margin: 0 28px;
  font-size: 12px;
  line-height: 1.45;

  .screen-x-small & {
    margin: 0 16px;
  }

  .footer-attribution {
    margin-top: 6px;
    opacity: 0.88;
  }
}
